main {
    padding: 10px 30px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.post {
    text-align: justify;
}

.welcome-msg {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
}

.hashtag {
    color: #0a66c2;
    font-weight: 600;
    display: inline;
}

.parameter {
    font-weight: 500;
}
