main {
    padding: 10px 30px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 20px 0 0 0;
    border-top: 1px solid #ccc;
    margin: 15px 0;
}

.post {
    text-align: justify;
}

.welcome-msg {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: justify;
}

.hashtag {
    color: #0a66c2;
    font-weight: 600;
    display: inline;
}

.parameter {
    font-weight: 500;
}

.duration {
    display: inline;
}

.job_title {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 5px 0;
}
.company_name {
    font-size: 1rem;
    font-weight: 500;
    margin: 5px 0;
}

.experience {
    border-bottom: 1px solid #ccc;
    list-style: none;
    margin: 0;
    padding: 0;
}

.experience:last-child {
    border-bottom: none;
}

.experiences {
    padding: 0 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 20px;
    margin: 0;
}

.duration,
.location {
    margin: 5px 0;
    font-size: 0.9rem;
    color: rgb(86, 86, 86);
}
