<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Segwise Assignment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <main>
        <div class="container">
            <form class="input-form" action="/linkedin">
                <input type="text" name="profileUrl" placeholder="Linkedin profile URL">
                <button type="submit">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>